.testimonials-section {
  margin-bottom: 173px;

  &__wrapper {

    @media (min-width:768px) {
      display: flex;
    }

    .cards {
      width: auto;

      @media (min-width:768px) {
        width: 50%;
      }

      .card {
        display: block;
        text-align: center;
        position: relative;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 10px;
        padding: 28px 4.7vw 34px 2.36vw;

        @media (min-width:768px) {
          display: flex;
          text-align: left;
        }

        &__visual {
          min-width: 55px;
          border-radius: 50%;
          margin-bottom: 10px;

          @media (min-width:768px) {
            position: absolute;
            top: -10%;
            left: -8%;
            margin-bottom: 0;
          }

          img {
            border-radius: 50%;
          }
        }

        &__text {
          margin-bottom: 34px;
        }
      }
    }
  }

  &__discription {
    text-align: center;

    @media (min-width:768px) {
      width: 50%;
      margin-right: 124px;
      text-align: left;
    }
  }

  &__header {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 80px;

    @media (min-width:768px) {
     margin-bottom: auto;
    }
  }
}