$main-background-color: #FFF1DA;
$red-background-color: #DF6951;
$burger-color: #737373;

$main-text-color: #5E6282;
$grey-text-color: #84829A;
$header-text-color: #212832;
$heading-h1-color: #181E4B;
$heading-h2-color: #14183E;
$heading-h3-color: #1E1D4C;
$footer-heading-color: #080809;
$placeholder-color: #39425D;
$facebook-color: #335BF5;
$twitter-color: #21A6DF;
$instagram-color: #E61F5A;
$youtube-color: #E42F08;

$main-font-size: 16px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// D5D6DB