.airlines-section {
  text-align: center;
  margin-bottom: 40px;

  @media (min-width:768px) {
    margin-bottom: 70px;
    }

  &__header {
    display: block;

    @media (min-width:768px) {
      display: none;
      }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width:768px) {
      flex-direction: row;
      }
  }

  &__image {
    background-color: #FFF;
    margin: 10px 0;

    &:first-child {
      img {

        @media (min-width:768px) {
          padding: 15px 30px;
          }
      }
    }

    &:nth-child(2) {
      img {
        @media (min-width:768px) {
          padding: 25px 30px;
          }
      }
    }
    
    &:nth-child(3) {
      img {
        @media (min-width:768px) {
          padding: 0 30px;
          }
      }
    }

    &:nth-child(4) {
      img {
        padding: 40px 30px;

        @media (min-width:768px) {
          padding: 65px 30px;
          }
      }
    }

    &:last-child {
      display: none;

      @media (min-width:768px) {
        display: block;
        }

      img {
        padding: 40px 61px;
        @media (min-width:768px) {
          padding: 70px 30px;
          }
      }
    }

    img {
      mix-blend-mode: luminosity;
      cursor: pointer;
      transition: all .3s;
      padding: 5px 30px;

      &:hover {
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 10px;
        mix-blend-mode: normal;
      }
    }
  }
}