.cards {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: $font-weight-medium;
    line-height: 1.62;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__body {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
